<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Pegasus</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class='header'>

      <div id='logo'>
        <a href="{{ url_for('routes.index') }}">
          <img src='https://i.postimg.cc/3xWsXK7C/PEGASUS-3.jpg'
          alt="Pegasus_logo"/>
        </a>
      </div>

      <div class='role_buttons'>
        {% if role == "Administrator" %}
        <div id='admin'>
          <form method="post" action="{{ url_for('routes.manage_admins') }} "  style="display: inline-block;">
            <button type="submit" id='head_button'>Manage Admins</button>
          </form>
          <form method="post" action="{{ url_for('routes.manage_airlines') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>Manage Airline Companies</button>
          </form>
          <form method="post" action="{{ url_for('routes.manage_customers') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>Manage Customers</button>
          </form>
          <form action="{{ url_for('routes.closest_flights') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>Closest Flights</button>
          </form>
          <form method="post" action="{{ url_for('routes.all_flights') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>All Flights</button>
          </form>
          <form method="post" action="{{ url_for('routes.admin_info') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>My Profile</button>
          </form>
        </div>
        {% endif %}

        {% if role == "AirlineCompany" %}
        <div id='airline'>
          <form method="post" action="{{ url_for('routes.add_flight_form') }} "  style="display: inline-block;">
            <button type="submit" id='head_button'>Add Flight + </button>
          </form>
          <form method="post" action="{{ url_for('routes.manage_flights') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>Manage Flights</button>
          </form>
          <form method="post" action="{{ url_for('routes.airline_info') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>My Profile</button>
          </form>
        </div>
        {% endif %}

        {% if role == "Customer" %}
        <div id='customer'>
          <form method="post" action="{{ url_for('routes.my_tickets') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>My Tickets</button>
          </form>
          <form method="post" action="{{ url_for('routes.customer_info') }}"  style="display: inline-block;">
            <button type="submit" id='head_button'>My Profile</button>
          </form>
        </div>
        {% endif %}

        <div id='welcome_back'>
          {% if name and role %}
            <h3>Welcome Back, {{name}}</h3>
          {% endif %}
        </div>
        
      </div>

      <div class='logged_in'>
        {% if name and role %}
          <a href="{{ url_for('routes.logout') }}" id='log_in_out'>Log Out</a>
        {% else %}
          <a href="{{ url_for('routes.redirect_to_signup') }}" id='log_in_out'> Sign Up </a>
          <a href="{{ url_for('routes.redirect_to_login') }}" id='log_in_out'> Log In </a>
        {% endif %}
      </div>

    </div>


    <div id="page_content">
      {% block page_content %}{% endblock %}
    </div>

  </body>

  <footer id="footer">
      <p>&copy;2024 Pegasus all rights reserved</p>
  </footer>

</html>
