{% extends 'base.html' %}
{% block page_content %}

<div id='change_password'>

    <form action="/change_password" method="post">

        <div id='old_password'>
            <label for="old_password">Old Password:</label><br>
            <input type="password" id="old_password" name="old_password" pattern="[a-zA-Z0-9]+{6,50}" 
                minlength="6" maxlength="50" required><br>
        </div>

        <div id='new_password'>
            <label for="new_password">New Password:</label><br>
            <input type="password" id="new_password" name="new_password" pattern="[a-zA-Z0-9]+{6,50}" 
                minlength="6" maxlength="50" required><br>
            <span class="sub-label">Must include a Capital and a lowercase letters, as well a number. At least 6 characters.</span><br><br>
            <label for="password_reinput">Input New Password Again:</label><br>
            <input type="password" id="password_reinput" name="password_reinput" pattern="[a-zA-Z0-9]+{6,50}" 
                minlength="6" maxlength="50" placeholder='Repeat Password' required><br>

        </div>

        <button type="submit" value="Update Password">Update Password</button>
                    
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        {% if update_sucsess==True %}
            <p style="color: green;">Password Updated Sucsessfuly</p>
        {% elif update_sucsess==False %}
            <p style="color: red;">Error: was not able to update password. Try again later.</p>
        {% endif %}

    </form>  

</div>

{% endblock %}