{% extends 'base.html' %}
{% block page_content %}

<div class='search'>
    <div id="search_header">
        <h1> Looking for Your Next Adventure? </h1>
    </div>

    <div id='search_container'>

        <div>

            <form action="/searchforflight" method="post" id='search_form'>
                <div class='country_selector'>
                    <label for="origin">From:</label>
                    <select id="origin" name="origin" placeholder='From where?' required>
                        {% for country in countries %}
                            <option value="{{country[0]}}">{{country[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='country_selector'> 
                    <label for="destination">To:</label>
                    <select id="destination" name="destination" placeholder='Where are we going?' required>
                        {% for country in countries %}
                            <option value="{{country[0]}}">{{country[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='date_selector'>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" value= 'When?' required>
                </div>

                <input type="submit" value="Search Flight" id='search_button'>
            </form>      

        </div>

        <div id="search_links">
            <a href="{{ url_for('routes.redirect_to_searchforflightbyid') }}" id='search_link' >Search by Flight number</a>
            <a href="{{ url_for('routes.closest_flights') }}" id= 'search_link' >Closest Arrivals and Departures</a>
        </div>

    </div>

</div>
{% endblock %}
