{% extends 'base.html' %}
{% block page_content %}

<div id='login'> 

    <div id='redirect_to_signup'>
        <p>New to Pegasus?</p>
        <form action="/redirect_to_signup">
            <button type="submit" value="Sign Up!">Sign Up!</button>
        </form>
    </div>

    <div id='login-form'>
        <p>Log In</p>
        <form action="/login" method="post">
            <div> 
                <label for="login-username">Username</label>
                <input type="text" id="login-username" name="username" placeholder= 'Username' required><br>
            </div>
            <div>
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="password" placeholder= 'Password' required><br>
            </div>
            <div>
                <button type="submit" value="Log In" >Log In</button>
            </div>
        </form>

        <table id='demo-users'>
            <p id='demo-users-p'>Demo Users:</p>
            <thead>
                <th>Username</th>
                <th >Password</th>
                <th>User Type</th>
            </thead>
            <tbody>
                <tr>
                    <td>Admin111</td>
                    <td id='border-pegasus'>VerySecurePassword111</td>
                    <td>Admin</td>
                </tr>
                <tr>
                    <td>UFOAirlines</td>
                    <td id='border-pegasus'>UfO000</td>
                    <td>Airline</td>
                </tr>
                <tr>
                    <td>GinnyC</td>
                    <td id='border-pegasus'>Ginny444</td>
                    <td>Customer</td>
                </tr>
            </tbody>
        </table>

        <div id='login-err'>
            {% if error== 'Wrong Username/Password'%}
            <h3>Wrong Username/Password</h3>
            {% elif error== 'Disactivated'%}
            <h3>You User has been disactivated.</h3>
            <h4>Please contact customer support for more information.</h4>
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}
