{% extends 'base.html' %}
{% block page_content %}

<div class='manage'>

    <div class='manage-top'>
        <div id="add">
            <form method="post" action="{{ url_for('routes.add_customer_form') }}"  style="display: inline-block;">
                <button type="submit">Add Customer +</button>
            </form>
        </div>
        <div id="manage-header">
            <p>Manage Customers</p>
            {% if status_change %}
            <p id='activation_message'>Customer {{status_change[0]}} Sucsessfuly, CustomerID: {{status_change[1]}}</p>
            {% endif %}
        </div>
        <div id='search_by_id'>
            <form action="/search_for_customer_by_id" method="post">
                <label for="customer_id">Search by Customer ID:</label>
                <input type="number" id="customer_id" name="customer_id" required>
                <input type="submit" value="Search" id='search_by_id_button'>
            </form> 
        </div>
    </div>

    <div id='customers'>
        {% if customers %}
            <table>
                <tr>
                    <th>CustomerID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Manage Customer</th>
                </tr>

                {% for customer in customers%}
                <tr>
                {% if customer[8] == "Active" %} 
                <form method="post" action="/disactivate_customer"  style="display: inline-block;">
                {% else %}
                <form method="post" action="/reactivate_customer"  style="display: inline-block;">
                {% endif %}
                    <div id='customer'>
                        <td id="customer_id" name="customer_id">{{customer[0]}}</td>
                        <td id="fname" name="fname">{{customer[1]}}</td>
                        <td id='lname' name='lname'>{{customer[2]}}</td>
                        <td id='address' name='address'>{{customer[3]}}</td>
                        <td id='phone' name='phone'>{{customer[4]}}</td>
                        <td id="user_id" name="user_id">{{customer[5]}}</td>
                        <td id='username' name='username'>{{customer[6]}}</td>
                        <td id='email' name='email'>{{customer[7]}}</td>
                        <td id='status' name='status'>{{customer[8]}}</td>
                    </div>
                    
                    <div id='manage_customer'>
                        <td>
                            {% if customer[8] == "Active" %}       
                            <button type="submit" id='disactivate' name="cust_id" value="{{ customer[0] }}">Deactivate Customer</button>
                            {% else %}
                            <button type="submit" id='reactivate' name="cust_id" value="{{ customer[0] }}">Re-activate Customer</button>
                            {% endif %}
                        </td>
                    </div>
                </form>
                </tr>
                {% endfor %}

            </table>
        {% else %}

        <p id='none-found'>No Customers Matching Search Found</p>

        {% endif %}
    </div>

</div>

{% endblock %}