{% extends 'base.html' %}
{% block page_content %}

<div class='manage'>

    <div id="add_customer">
        <form method="post" action="{{ url_for('routes.add_customer_form') }}"  style="display: inline-block;">
            <button type="submit">Add Customer +</button>
        </form>
    </div>

    <div id='search_for_customer_by_id'>
        <form action="/search_for_customer_by_id" method="post">
            <div>
                <label for="customer_id">Search by Customer ID:</label>
                <input type="text" id="customer_id" name="customer_id" >
            </div>
            <input type="submit" value="Search">
        </form> 
    </div>

    <div id='customers'>
        {% if customers %}
            {% if status_change %}
            <p style="color: green;">Customer {{status_change[0]}} Sucsessfuly, CustomerID: {{status_change[1]}}</p>
            {% endif %}
            <table>
                <tr>
                    <th>CustomerID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Manage Customer</th>
                </tr>

                {% for customer in customers%}
                <tr>
                {% if customer[8] == "Active" %} 
                <form method="post" action="/disactivate_customer"  style="display: inline-block;">
                {% else %}
                <form method="post" action="/reactivate_customer"  style="display: inline-block;">
                {% endif %}
                    <div id='customer'>
                        <td id="customer_id" name="customer_id">{{customer[0]}}</td>
                        <td id="fname" name="fname">{{customer[1]}}</td>
                        <td id='lname' name='lname'>{{customer[2]}}</td>
                        <td id='address' name='address'>{{customer[3]}}</td>
                        <td id='phone' name='phone'>{{customer[4]}}</td>
                        <td id="user_id" name="user_id">{{customer[5]}}</td>
                        <td id='username' name='username'>{{customer[6]}}</td>
                        <td id='email' name='email'>{{customer[7]}}</td>
                        <td id='status' name='status'>{{customer[8]}}</td>
                    </div>
                    
                    <div id='manage_customer'>
                        <td>
                            {% if customer[8] == "Active" %}       
                            <button type="submit" name="cust_id" value="{{ customer[0] }}">Disactivate Customer</button>
                            {% else %}
                            <button type="submit" name="cust_id" value="{{ customer[0] }}">Re-activate Customer</button>
                            {% endif %}
                        </td>
                    </div>
                </form>
                </tr>
                {% endfor %}

            </table>
        {% else %}

        <h2>No Customers Matching Search Found</h2>

        {% endif %}
    </div>

</div>

{% endblock %}