{% extends 'base.html' %}
{% block page_content %}

<div class='manage'>
    
    <div id="add_airline">
        <form method="post" action="{{ url_for('routes.add_airline_form') }}"  style="display: inline-block;">
            <button type="submit">Add Airline +</button>
        </form>
    </div>

    <div id='search_for_airline_by_id'>
        <form action="/search_for_airline_by_id" method="post">
            <div>
                <label for="airline_id">Search by Airline ID:</label>
                <input type="text" id="airline_id" name="airline_id" >
            </div>
            <input type="submit" value="Search">
        </form> 
    </div>

    <div id='airlines'>
        {% if airlines %}
            {% if status_change %}
            <p style="color: green;">Airline {{status_change[0]}} Sucsessfuly, AirlineID: {{status_change[1]}}</p>
            {% endif %}
            <table>
                <tr>
                    <th>AirlineID</th>
                    <th>Company Name</th>
                    <th>Country ID</th>
                    <th>Country </th>
                    <th>Logo</th>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Manage Airline</th>
                </tr>

                {% for airline in airlines%}
                <tr>
                {% if airline[7] == "Active" %} 
                <form method="post" action="/disactivate_airline"  style="display: inline-block;">
                {% else %}
                <form method="post" action="/reactivate_airline"  style="display: inline-block;">
                {% endif %}
                    <div id='airline'>
                        <td id="airline_id" name="airline_id">{{airline[0]}}</td>
                        <td id="name" name="name">{{airline[1]}}</td>
                        <td id='country_id' name='country_id'>{{airline[2]}}</td>
                        <td id='country' name='country'>{{airline[8]}}</td>
                        <td id='logo' name='logo'><img src="{{airline[3]}}" alt='company_logo' /></td>
                        <td id="user_id" name="user_id">{{airline[4]}}</td>
                        <td id='username' name='username'>{{airline[5]}}</td>
                        <td id='email' name='email'>{{airline[6]}}</td>
                        <td id='status' name='status'>{{airline[7]}}</td>
                    </div>
                    
                    <div id='manage_airline'>
                        <td>
                            {% if airline[7] == "Active" %}       
                            <button type="submit" name="airline_id" value="{{ airline[0] }}">Disactivate Airline</button>
                            {% else %}
                            <button type="submit" name="airline_id" value="{{ airline[0] }}">Re-activate Airline</button>
                            {% endif %}
                        </td>
                    </div>
                </form>
                </tr>
                {% endfor %}

            </table>
        {% else %}

        <h2>No Airlines Matching Search Found</h2>

        {% endif %}
    </div>

</div>

{% endblock %}