{% extends 'base.html' %}
{% block page_content %}

{% if error_message or update_sucsess%}
    <div class='update-self-messages'>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        {% if update_sucsess==True %}
            <p style="color: green;">Info Updated Sucsessfuly</p>
        {% elif update_sucsess==False %}
            <p style="color: red;">Error: was not able to update customer. Try again later.</p>
        {% endif %}
    </div> 
{% endif %}

<div class='update-self' id='customer_managment'>

    <p id="update-header">Update My Information</p>

    <form action="/update_customer" method="post">

        <div id='cust_id'>
            <label for="custid">Your Customer ID:</label><br>
            <input type="text" id="custid" name="custid" maxlength="50" 
                    value="{{ request.form['custid']  or cust[0] }}" readonly >
        </div>

        <div id='name'>
            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname" maxlength="50" 
                value="{{ request.form['fname']  or cust[1] }}" required><br>
                <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname" maxlength="50" 
                value="{{ request.form['lname']  or cust[2] }}" required><br>
        </div>

        <div id='address'>
            <label for="address">Adress:</label><br>
            <input type="text" id="address" name="address" maxlength="150" placeholder='New York, Main str 123' 
                value="{{ request.form['address']  or cust[3] }}" required><br>
        </div>

        <div id='phone'>
            <label for="phone">Phone Number:</label><br>
             <input type="tel" id="phone" name="phone"  minlength="8" maxlength="12" 
                value="{{ request.form['phone']  or cust[4] }}"  required ><br>
        </div>

        <div id='credit_card'>
            <label for="credit_card">Credit Card Number:</label><br>
            <input type="text" id="credit_card" name="credit_card" 
            value="{{ request.form['credit_card']  or cust[5] }}" required><br>
        </div>

        <div id='email'>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" 
                pattern="[a-zA-Z0-9.]{1,30}[@]+[a-zA-Z0-9]{1,10}[.]+[a-zA-Z0-9.]{1,10}" maxlength="50" 
                value="{{ request.form['email']  or cust[7] }}" required><br>
        </div> 

        <div id='username'>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" pattern="[a-zA-Z0-9]{6,50}" minlength="6" 
                maxlength="50" value="{{ request.form['username']  or cust[6] }}" required><br>
        </div>

        <span class="sub-label">Can include letters and numbers only, At least 6 characters.</span><br>

        <div id='password'>
            <label for="password">To save changes, enter Password:</label><br>
            <input type="password" id="password" name="password" pattern="[a-zA-Z0-9]+{6,50}" 
                minlength="6" maxlength="50" required><br>
        </div>

        <div id='update-self-submit-wrap'>
            <button type="submit" value="Update Customer" class='update-self-submit'>Update Info</button><br>
        </div>

    </form> 

        <div id='redirect_to_change_password_form'>
            <form action="/change_password_form" method="post">
                <button type="submit" value="Go To Change Password" id="redirect-to-change-password">Go To Change Password</button>
            </form> 
        </div>

</div>

{% endblock %}