{% extends 'base.html' %}
{% block page_content %}

{% if error_message or update_sucsess%}
    <div class='update-self-messages'>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        {% if update_sucsess==True %}
            <p style="color: green;">Info Updated Sucsessfuly</p>
        {% elif update_sucsess==False %}
            <p style="color: red;">Error: was not able to update airline. Try again later.</p>
        {% endif %}
    </div> 
{% endif %}

<div class='update-self' id='airline_managment'>

    <p id="update-header">Update My Information</p>

    <form action="/update_airline" method="post">

        <div id='airline_id'>
            <label for="airlineid">Your Airline ID:</label><br>
            <input type="text" id="airlineid" name="airlineid" maxlength="50" 
                    value="{{ request.form['airlineid']  or airline[0] }}" readonly ><br>
        </div>

        <div id='name'>
            <label for="name">Company Name:</label><br>
            <input type="text" id="name" name="name" maxlength="50" 
                value="{{ request.form['name']  or airline[1] }}" required><br>
        </div>

        <div id='airline-country-div'>
            <label for="airline-country">Country:</label><br>
            <select id="country" name="country" required>
                {% set selected_country_code = request.form['country'] or airline[2] %}
                {% for country in countries %}
                    <option value="{{ country[0] }}" {% if country[0] == selected_country_code %}selected{% endif %}>
                        {{ country[1] }}
                    </option>
                {% endfor %}
            </select><br>
        </div><br>

        <div id='logo-div'>
            <label for="logo">Company Logo:</label><br>
            <input type="text" id="logo" name="logo"  
                value="{{ request.form['logo']  or airline[3] }}" maxlength="300"><br>
        </div>

        <div id='email'>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" 
                pattern="[a-zA-Z0-9.]{1,30}[@]+[a-zA-Z0-9]{1,10}[.]+[a-zA-Z0-9.]{1,10}" maxlength="50" 
                value="{{ request.form['email']  or airline[5] }}" required><br>
        </div> 

        <div id='username'>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" pattern="[a-zA-Z0-9]{6,50}" minlength="6" 
                maxlength="50" value="{{ request.form['username']  or airline[4] }}" required><br>
        </div>
        
        <span class="sub-label">Can include letters and numbers only, At least 6 characters.</span><br>

        <div id='password'>
            <label for="password">To save changes, enter Password:</label><br>
            <input type="password" id="password" name="password" pattern="[a-zA-Z0-9]+{6,50}" 
                minlength="6" maxlength="50" required><br>

        </div>

        <div id='update-self-submit-wrap'>
            <button type="submit" value="Update Airline" class='update-self-submit'>Update Info</button><br>
        </div>

    </form>  

    <div id='redirect_to_change_password_form'>
        <form action="/change_password_form" method="post">
            <button type="submit" value="Go To Change Password" id="redirect-to-change-password">Go To Change Password</button>
        </form> 
    </div>


</div>

{% endblock %}