{% extends 'base.html' %}
{% block page_content %}

<div id='update_flight'>

    <form action="/update_flight" method="post">

        <label for="flightid">Flight ID:</label>
        <input type="text" id="flightid" name="flightid" maxlength="50" 
                value="{{ request.form['flightid'] or flight[0] }}" readonly >

        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin" maxlength="50" 
                value="{{ request.form['origin'] or flight[1] }}" readonly >

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" maxlength="50" 
                value="{{ request.form['destination'] or flight[2] }}" readonly >

        <div id='departure'>
            <label for="departure">Departure:</label><br>
            <input type="datetime-local" id="departure" name="departure" 
                value="{{ request.form['departure'] or flight[3] }}" required><br>
        </div>

        <div id='arrival'>
            <label for="arrival">Arrival:</label><br>
             <input type="datetime-local" id="arrival" name="arrival" 
                value="{{ request.form['arrival'] or flight[4] }}"  required ><br>
        </div>

        <div id='tickets'>
            <label for="tickets">Remaning Tickets:</label><br>
            <input type="number" id="tickets" name="tickets" min='0'
            value="{{ request.form['tickets'] or flight[5] }}" required><br>
        </div>

        <div id='status'>
            <label for="status">Select an option:</label>
            <select id="status" name="status" required>
                <option value="{{"On Time" or flight[6] }}">On Time</option>
                <option value="{{ "Delayed" or flight[6] }}">Delayed</option>
                <option value="{{ 'Canceled' or flight[6] }}">Canceled</option>
            </select>
        </div> 

        <button type="submit" value="Update Flight">Update Flight Info</button>

                    
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        {% if update_sucsess==True %}
            <p style="color: green;">Flight Info Updated Sucsessfuly</p>
        {% elif update_sucsess==False %}
            <p style="color: red;">Error: was not able to update flight. Try again later.</p>
        {% endif %}

    </form>  

</div>

{% endblock %}